*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-behavior: cubic-bezier(0.2, 0, 0.38, 1);
}
.container{
    font-family: "inter", sans-serif;
    font-weight: 400;
    line-height: 1.0;
    color: black;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}
.navigation{ 
    display: flex;
    justify-content: space-between;
    padding: 1.9rem;
    min-height: 14vh;
    margin-top: 0.5rem;
}
.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    min-height: 76vh;
}
.sec2{
    background-color: #1C1232;
    display: grid;
    margin-top: 1rem;
    min-height: 75vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: .5rem;
    border-radius: 2%;
    padding: 2.4rem;
}
.sec3{
    padding: 1.5rem;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: .6fr .6fr;
    column-gap: 1rem;
    border-radius: 2%;
    margin-top: 1rem;
    min-height: 60vh;
} 
.sec4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    border-radius: 2%;
}
.sec5{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 30vh;
}
.sec6{
    padding: 1.5rem;
    min-height: 60vh;
    background-image: linear-gradient(to top, #FFFFFF, #F8F5FF);
    border-radius: 1rem;
}
.sec7{
    padding: 1.5rem;
    min-height: 45vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.2rem;
}
.sec8{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr repeat(2, 1fr) .5fr;
    column-gap: 1rem;
}
.sec9{
    background-color: #8858F1;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
}
.sec2__firstrow__div1{
   padding: 2rem;
   grid-area:  1 / 1 / -1 / 3;
}
.sec2__firstrow__div2 {
    object-fit: contain;
    grid-area:  1 / 3 / -1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3__firstrow__div1{
    grid-area:  1 / 1 / -1 / 2;
}
.sec3__firstrow__div2{
    grid-area:  1 / 2 / -1 / -1;
    padding: 3.5rem;
    background-color: #FAFAFA;
    border-radius: 2rem;
}
.sec3__firstrow__div2 a{
    margin-top: .5rem;
}
.sec4__div1{
    grid-area:  1 / 2 / 2 / -1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.sec4__div2{
    grid-area:  2 / 1 / 3 / -1;
    font-size: 1.9rem;
}
.sec4__div3{
    grid-area:  3 / 1 / -1 / -1;
    min-height: 20vh;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: scrolling 10s linear infinite;
}
.sec5__div1__div1{
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template-columns: .5fr .5fr ;
    grid-template-rows:  .4fr .7fr min-content;
    row-gap: .6rem;
}
.sec5__div1__div2{
    grid-area: 1 / 2 / -1 / -1;
    display: flex;
    flex-direction: column;
}
.sec7__div__div1{
    grid-area: 1 / 1 / -1 / 2;
    display: flex;
    flex-direction: column;
}
.sec7__div__div2{
    grid-area: 1 / 2 / -1 / -1;
    display: flex;
    flex-direction: column;
}
.sec8__div1__div1{
    grid-area: 2 / 1 / 4 / 3;
    border: .1rem solid #B99CFA;
    border-radius: 1rem;
    box-shadow: 0 4rem 17rem -11rem rgba(0, 0, 0, 0.59);
    padding: 1.5rem;
}

.sec8__div1__div2{
    grid-area: 2 / 3 / 4 / -1;
    padding: 1.5rem;
    border: .1rem solid #B99CFA;
    border-radius: 1rem;
    box-shadow: 0 4rem 17rem -11rem rgba(0, 0, 0, 0.59);
}
.sec8__footer{
    grid-area: 4 / 1 / -1 / -1;
    padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}
.fess{
    color: transparent;
    display: inline;
    background-size: cover;
    background-image: url('img/land.png');
    border-radius: 50%;
    margin-right: .5rem;
}
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translatex(-94vw); }
  }
.btn:link, 
.btn:visited {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 4rem;
    transition: all .2s;
    position: relative;
}
.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}
.btn:active{
    transform: translateY(-.1rem);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.btn-blue{
    background-color: #8858F1;
    color: white;

}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .2s;
}
.btn-blue::after{
    background-color: #8858F1;
}
.btn:hover::after{
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}
.btn-animated{
    animation: mvbottom .2s ease-out .75s;
    animation-fill-mode: backwards;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}
.header__links{
    width: 10vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.sec1__heading__header{
    font-size: 3.4rem;
    padding-bottom: 3rem;
    line-height: 4rem;
    max-width: 40vw;
    animation-name: fadein;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes fadein{
    0%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}
.sec1__heading__header span{
    display: inline-block;
    background-image: linear-gradient(to right, #8D5CFA, #788CEB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.row--heading2{
    font-size: 2.9rem;
    display: inline-block;
    background-image: linear-gradient(to right, #798BEC, #8965F7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.paragraph{
    color: white;
    font-size: 1.2rem;
    padding: .5rem;
    max-width: 36vw;
}
.paragraph .first{
    display: block;
    padding-top: 1.7rem;
    padding-bottom: 2.5rem;
}
.paragraph .second{
    display: block;
    padding-top: 1.7rem;
    padding-bottom: 1.8rem;
}
.paragraph .third{
    display: block;
    padding-top: 1rem;
    padding-bottom: 1.8rem;
}
.paragraph .fourth{
    display: block;
    padding-top: 1rem;
    padding-bottom: 0;
}
.sec2__firstrow__div1 .sec2lists{
    padding: 1.5rem;
    color: white;
}
.sec2pic{
    width: 75%;
    height: 75%;
}
.sec2lists li{
    padding-bottom: 1.7rem;
    padding-left: 1rem;
    list-style-type: circle;
    font-size: 1.2rem;
    list-style-image: linear-gradient(to right, #798BEC, #8965F7);
}
.row-heading{
    font-size: 2.9rem;
    color: transparent;
    background-image: linear-gradient(to right, #8D5CFA, #788CEB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    max-width: 55vw;
    font-weight: 700;
    padding-bottom: 1rem;
}
.sec3__firstrow__div2 p{
    color: black;
    padding-top: 1.5rem;
    max-width: 55rem;
    padding-bottom: 1.5rem;
}
.sec3__firstrow__div2 .paragraph__first{
    display: block;
    padding-bottom: 1.7rem;
}
.sec3__firstrow__div2 .paragraph__second{
    display: block;
    padding-bottom: 1.6rem;
}
.sec3__firstrow__div2 .paragraph__third{
    display: block;
    padding-bottom: 1.6rem;
    padding-top: 1.7rem;
}
.sec4__div3 div{
    display: inline;
}
.sec4__div1__secondcol__div1{
    background-color: #E6E4FC;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: #E6E4FC;
    transform: scale(3rem);
    color: transparent;
    border-radius: 10rem;
}
.sec4__div1__secondcol__div3--picture{
    position: relative;
}
.sec4__div1__secondcol__div2{
    background-color: #B4B0F7;
    border-radius: 9rem;
    margin-right: 2.3rem;
   margin-left: 2.3rem;
   z-index: 50;
   color: transparent;
   transform: translateY(-1.5rem);
   border-radius: 6rem;
}
.sec4__div1__secondcol__div3{
    z-index: 100;
    background-image: linear-gradient(to top right, #788CEB, #866BF5);
    border-radius: 2rem;
    transform: translateY(-2.7rem);
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 30vh;
}
.sec4__div1__secondcol__div3--paragraph{
    padding-left: 1rem;
    max-width: 35vw;
    line-height: 1.5;
}
.sec4__div1__secondcol__div3--paragraph span{
    display: block;
    font-weight: 700;
    padding-top: 1.2rem;
}
.sec4__div3__secondcol__div3{
    border-radius: 2rem;
    background-image: linear-gradient(to top right, #788CEB, #866BF5);
}
.sec4__div3__secondcol__div3 p{
    color: black;
}
.sec4__div3 div{
    padding-left: 1rem;
}
.sec4__div3__pic1{
    width: 15%;
}
.sec4__div3__pic2{
    width: 15%;
}
.sec4__div3__pic3{
    width: 15%;
}
.sec4__div3__pic4{
    width: 15%;
}
.sec4__div1__secondcol__div3--picture{
    overflow: hidden;
    width: 8rem;
    height: 8rem;
    border: .2rem solid white;
    border-radius: 50%;
    background-color: #1C1232;
}
.sec5__div1__div1 h4{
    grid-area: 1 / 1 / 2 / -1;
}
.sec5__div1__div1--body{
    grid-area: 2 / 1 / 3 / -1;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sec5__div1__subdiv2 p{
    padding-top: 1.4rem;
    padding-left: 1rem;
    font-size: 1.2rem;
}
.sec5__div1__div1__footer{
    grid-area: 3 / 1 / -1 / -1;
    width: 100%;
}
.sec5__div1__subdiv2{
    padding-bottom: 1rem;
}
.sec5__div1__subdiv1{
    padding-top: 1rem;
}
.mgphone{
    color: #7F7DF0;
}
.sec5__div1__div2__subdiv1{
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: #E6E4FC;
    transform: scale(3rem);
    color: transparent;
    border-radius: 10rem;
}
.sec5__div1__div2__subdiv2{
   margin-right: 2.3rem;
   margin-left: 2.3rem;
   z-index: 50;
   background-color: #B4B0F7;
   color: transparent;
   transform: translateY(-.7rem);
   border-radius: 6rem;
}
.sec5__div1__div2__subdiv3{
    z-index: 100;
    background-image: linear-gradient(to top right, #788CEB, #866BF5);
    border-radius: 2rem;
    transform: translateY(-1.3rem);
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 25vh;
}
.thirddiv__picture{
    overflow: hidden;
    position: relative;
    width: 8rem;
    height: 8rem;
    border: .2rem solid white;
    border-radius: 50%;
    background-color: #1C1232;
}
.sec5__div1__div2__subdiv3 span{
    display: block;
    font-weight: 700;
    padding-top: 1.2rem;
}
.sec5__div1__div2__subdiv3 p {
    padding-left: 1rem;
    max-width: 35vw;
    line-height: 1.5;
}
.sec6__div{
    padding: 1.5rem;
    max-width: 69vw;
}
.sec6 ul{
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-left: .5rem;
    padding-bottom: 2rem;
}
.sec6 h4{
    font-size: 2rem;
}
.sec6 ul li{
    padding-top: .8rem;
    list-style-type: circle;
    font-size: 1.2rem;
    padding-left: 1rem;
    list-style-image: linear-gradient(to right, #798BEC, #8965F7);
}
.divone{
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: #E6E4FC;
    transform: scale(3rem);
    color: transparent;
    border-radius: 10rem;
}
.divtwo{
    margin-right: 2.3rem;
   margin-left: 2.3rem;
   z-index: 50;
   background-color: #B4B0F7;
   color: transparent;
   transform: translateY(-1.2rem);
   border-radius: 6rem;
}
.divthree{
    z-index: 100;
    background-image: linear-gradient(to top right, #788CEB, #866BF5);
    border-radius: 2rem;
    transform: translateY(-2.2rem);
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 30vh;
}
.divthree__picture{
    overflow: hidden;
    width: 8rem;
    height: 8rem;
    border: .2rem solid white;
    border-radius: 50%;
    position: relative;
    background-color: #1C1232;
}
.divthree p{
    padding-left: 1rem;
    max-width: 35vw;
    line-height: 1.5;
}
.divthree span{
    display: block;
    font-weight: 700;
    padding-top: 1.2rem;
}
.firstdiv{
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: #E6E4FC;
    transform: scale(3rem);
    color: transparent;
    border-radius: 10rem;
}
.seconddiv{
    margin-right: 2.3rem;
   margin-left: 2.3rem;
   z-index: 50;
   background-color: #B4B0F7;
   color: transparent;
   transform: translateY(-1.2rem);
   border-radius: 6rem;
}
.thirddiv{
    z-index: 100;
    background-image: linear-gradient(to top right, #788CEB, #866BF5);
    border-radius: 2rem;
    transform: translateY(-2.2rem);
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 31vh;
}
.thirddiv p{
    padding-left: 1rem;
    max-width: 35vw;
    line-height: 1.5;
}
.span2{
    font-weight: 700;
}
.thirddiv__picture{
    position: relative;
}
figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-size: inherit;
    text-align: center;
    opacity: 0;
    transition: all .7s;
    backface-visibility: hidden;
}
.sec4__img{
    transform: scale(1);
}
.sec5__img{
    transform: scale(1);
}
.sec7__img1{
    transform: scale(1);
}

.thirddiv:hover figcaption{
    opacity: 1;
    transform: translate(-50%, -50%);
}
.sec4__div1__secondcol__div3:hover .sec4__img{
    transform: scale(.8);
    opacity: .3;
}
.sec5__div1__div2__subdiv3:hover .sec5__img{
    transform: scale(.8);
    opacity: .3;
}
.divthree:hover .sec7__img1{
    transform: scale(.8);
    opacity: .3;
}
.divthree:hover figcaption{
    opacity: 1;
    transform: translate(-50%, -50%);
}
.sec5__div1__div2__subdiv3:hover figcaption{
    opacity: 1;
    transform: translate(-50%, -50%);
}
.sec4__div1__secondcol__div3:hover figcaption{
    opacity: 1;
    transform: translate(-50%, -50%);
}
.thirddiv span{
    display: block;
    font-weight: 650;
    padding-top: 1.2rem;
}
.section__header{
    grid-area: 1 / 1 / 2 / -1;
}
table{
    padding-top: 2rem;
    padding-bottom: 1rem;
    table-layout: fixed;
}
th, td{
    padding: 1rem;
}
tbody tr:nth-child(odd){
    background-color: #EDEFF7;
}
.header{
    font-size: 2rem;
}
.sec8__div1__div2 h4{
    padding-bottom: 1.2rem;
}
.sec8__div1__div1 h4{
    padding-bottom: 1.2rem;
}
.sec8__div1__div2--body__divun{
    padding-left: 1rem;
    background-color: #EDEFF7;
}
.sec8__div1__div1__secondheader{
    padding-left: 1rem;
    background-color: #EDEFF7;
}
.header1{
    font-size: 1.4rem;
    padding-bottom: 1rem;
}
.sec8 ul{
    padding: 1rem;
}
.sec8 ul li{
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style: none;
    background: url('img/tick (2).jpg') left center no-repeat;  
}
@media only screen and (max-width: 40rem){
    body{
        padding: 0;
    }
    .container{
        font-size: 60%;
        font-weight: 600;
        padding: 0;
        margin: 0;
    }
    .navigation{ 
        padding: 0;
        min-height: 20vh;
        column-gap: 2rem;
        margin-top: 0;
        min-height: 9vh;
        margin-left: 1rem;
        margin-right: 1rem;
        margin: 1rem;
        justify-content: space-around;
    }
    .sec1{
        padding: 1.5rem;
        min-height: 60vh;
    }
    .sec2{
        padding: 1rem;
        min-height: 50vh;
        line-height: 1.5;
        grid-template-columns: 0;
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
        margin: 1rem;
    }
    .sec3{
        padding: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-top: 0;
        min-height: 30vh;
        line-height: 1.5;
        margin-left: 1rem;
        grid-template-rows: .6fr min-content;
        margin-right: 1rem;
    } 
    .sec4{
        padding: 1rem;
        line-height: 1.5;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .sec5{
        padding: 1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, min-content);
        min-height: 30vh;
        line-height: 1.5;
        margin-left: 1rem;
        margin-right: 1rem;
        row-gap: 1.5rem;
    }
    .sec6{
        padding: 1rem;
        line-height: 1.5;
        min-height: 50vh;
        border-radius: 1rem;
        margin: 1rem;
    }
    .sec7{
        padding: .2rem;
        min-height: 30vh;
        column-gap: 0;
        row-gap: 1rem;
        grid-template-rows: repeat(2, min-content);
        line-height: 1.5;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .sec8{
        padding: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        column-gap: 0;
        line-height: 1.5;
        row-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(4, min-content);
    }
    .sec9{
        display: unset;
        padding: 1rem;
    }
    .header__links2{
        display: none;
    }
    .header__links{
        width: fit-content;
    }
    .header__links a{
        padding-left: 1.5rem;
    }
    .sec2__firstrow__div1{
        padding: .5rem;
        grid-row-start: 1;
        grid-row-end: -1;
     }
     .sec2__firstrow__div2 {
         display: none;
     }
     .sec3__firstrow__div1{
        grid-area: 1 / 1 / 2 / -1;
     }
     .sec3__firstrow__div2{
         padding: 1.8rem;
         grid-area: 2 / 1 / -1 / -1;
     }
     .sec4__div1{
         padding: 0;
         grid-area: 1 / 1 / 2 / -1;
     }
     .sec4__div2__header{
        font-size: 3rem;
     }
     .sec4__div3{
         min-height: 20vh;
         padding: 0;
     }
     .sec5__div1__div1{
         row-gap: 0;
         padding: 1.2rem;
         grid-area: 1 / 1 / 2 / -1;
     }
     .sec5__div1__div2{
        grid-area: 2 / 1 / -1 / -1;
     }
     .sec7__div__div1{
        grid-area: 1 / 1 / 2 / -1;
     }
     .sec7__div__div2{
        grid-area: 2 / 1 / -1 / -1;
     }
     .section__header{
        grid-area: 1 / 1 / 2/ -1;
        padding: 1.8rem;
     }
     .sec8__div1__div1{
         padding: 1.8rem;
         grid-area: 2 / 1 / 3 / -1;
         overflow: scroll;
     }
     .sec8__div1__div2{
         padding: 1.8rem;
         grid-area: 3 / 1 / 4 / -1;
         overflow: scroll;
     }
     .sec8__footer{
         padding: 1.9rem;
         grid-area: 4 / 1 / -1 / -1;
     }
     a{
         font-size: 1.8rem;
         padding-left: .6rem;
     }
     .sec1__heading__header{
         font-size: 3.5rem;
         max-width: 80vw;
     }
     .row--heading2{
         font-size: 3rem;
         padding: 1rem;
     }
     .paragraph{
         font-size: 1.9rem;
         padding: 1.3rem;
         max-width: fit-content;
         font-weight: normal;
     }
     .paragraph .fourth{
         display: block;
         padding-top: 1rem;
         padding-bottom: .1rem;
     }
      .sec2lists{
         padding: 1rem;
         font-size: 1.9rem;
         font-weight: 500;
     }
     .row-heading{
         font-size: 3rem;
         max-width: fit-content;
     }
     .sec4__div1__secondcol__div3{
         padding: 2.5rem;
         min-height: 20vh;
         display: unset;
     }
     .sec4__div1__secondcol__div3--paragraph{
         max-width: 78vw;
         font-size: 1.9rem;
         font-weight: 500;
     }
     .sec4__div1__secondcol__div3--paragraph span{
         font-weight: 750;
         padding-top: 2rem;
         font-size: 2rem;
     }
     .sec4__div1__secondcol__div3--picture{
         width: 15rem;
         height: 15rem;
         float: left;
         margin-right: 2rem;
         -webkit-shape-outside: circle(50% at 50% 50%);
         shape-outside: circle(50% at 50% 50%);
         -webkit-clip-path: circle(50% at 50% 50%);
         clip-path: circle(50% at 50% 50%);
         transition: translateX(-3rem);
         position: relative;
     }
     .sec4__div3 div{
       display: none;
     }
     .sec5__div1__div1--body{
        display: unset;
     }
     .sec5__div1__subdiv1{
        display: none;
     }
     .sec5__div1__subdiv2 p{
         padding: 1rem;
         font-size: 1.9rem;
         font-weight: 500;
     }
     .sec5__div1__div1{
        grid-template-columns: .5fr .5fr ;
        grid-template-rows:  repeat(3, min-content);
        row-gap: 0;
        padding: 1rem;
    }
     .sec5__div1__div1__footer{
        padding: 1rem;
        grid-area: 3 / 1 / -1 / -1;
     }
     .sec5__div1__div2__subdiv3{
         padding: 2rem;
         display: unset;
     }
     .sec5__div1__div2__subdiv3 span{
         font-weight: 750;
         padding-top: 2rem;
         font-size: 2rem;
     }
     .sec5__div1__div2__subdiv3 p {
         padding-left: 1.5rem;
         max-width: 78vw;
         font-size: 1.9rem;
         font-weight: 500;
         line-height: 1.4;
     }
     .sec6__div{
         padding: 1.5rem;
         max-width: 89vw;
     }
     .sec6 h4{
         font-size: 3rem;
         font-weight: 790;
     }
     .sec6 ul li{
         padding-top: .8rem;
         font-size: 1.9rem;
         font-weight: 500;
     }
     .divthree{
         padding: 2rem;
         display: unset;
     }
     .divthree__picture{
         width: 15rem;
         height: 15rem;
         float: left;
         margin-right: 2rem;
         -webkit-shape-outside: circle(50% at 50% 50%);
         shape-outside: circle(50% at 50% 50%);
         -webkit-clip-path: circle(50% at 50% 50%);
         clip-path: circle(50% at 50% 50%);
         transition: translateX(-3rem);
         position: relative;
     }
     .divthree p{
         padding-left: 2rem;
         max-width: 79vw;
         font-size: 1.9rem;
         font-weight: 500;
     }
     .divthree span{
         font-weight: 750;
         font-size: 2rem;
         padding-top: 2rem;
     }
     .thirddiv{
         padding: 2rem;
         display: unset;
     }
     .thirddiv__picture{
        width: 15rem;
        height: 15rem;
        float: left;
        margin-right: 2rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transition: translateX(-3rem);
        position: relative;
     }
     .thirddiv p{
        padding-left: 2rem;
         max-width: 79vw;
         font-size: 1.9rem;
         font-weight: 500;
     }
     .thirddiv span{
        font-weight: 750;
        font-size: 2rem;
        padding-top: 2rem;
     }
     table{
         padding-bottom: 2rem;
     }
     th, td{
         padding: 1rem;
         font-size: 1.9rem;
         font-weight: 520;
     }
     tbody tr:nth-child(odd){
         background-color: #EDEFF7;
     }
     .header{
         font-size: 3rem;
         font-weight: 790;
     }
     .sec8 h4{
         padding: 1.6rem;
     }
     .header1{
         font-size: 2.4rem;
         padding-bottom: 1rem;
     }
     .sec8 ul li{
         padding-left: 3.2rem;
         font-size: 1.9rem;
         font-weight: 500;  
     }
     .btn:link, 
     .btn:visited {
        font-weight: 510;
        font-size: 1.8rem;
    }
    .last{
        margin-top: .8rem;
    }
}
@media only screen and (min-width: 40rem) and (max-width: 64rem) {
    .navigation{ 
        min-height: 5vh;
    }
    .sec1{
        min-height: 69vh;
    }
    .sec2{
        min-height: 50vh;
        padding: 0;
    }
    .sec3{
        row-gap: 1rem;
        grid-template-columns: repeat(2, .5fr) repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
        min-height: 45vh;
    }
    .sec4{
        margin-bottom: 1rem;
    }
    .sec5{
        row-gap: .2rem;
    }
    .sec6{
        min-height: 40vh;
        padding: 1.5rem;
    }
    .sec7{
        column-gap: 1.5rem;
    }
    .sec8{
        row-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(4, min-content);
    }
    .sec2__firstrow__div2 img{
        width: 90%;
        height: 80%;
    }
     .sec3__firstrow__div1{
        grid-area: 1 /1 / -1 / 3;
     }
     .sec3__firstrow__div2{
        grid-area: 1 / 3 / -1 / -1;
     }
     .section__header{
        grid-area: 1 / 1 / 2/ -1;
        padding: 1.8rem;
     }
     .sec8__div1__div1{
         padding: 2rem;
         grid-area: 2 / 1 / 3 / -1;
     }
     .sec8__div1__div2{
         padding: 2rem;
         grid-area: 3 / 1 / 4 / -1;
     }
     .sec8__footer{
         padding: 1.9rem;
         grid-area: 4 / 1 / -1 / -1;
     }
     a{
         font-size: 1.9rem;
         padding-left: .6rem;
     }
     .sec1__heading__header{
         font-size: 3.5rem;
         max-width: 80vw;
     }
     .row--heading2{
         font-size: 3rem;
         padding: 1rem;
     }
     .paragraph{
         font-size: 1.9rem;
         padding: 1.3rem;
         font-weight: 500;
         line-height: 1.5;
     }
     .paragraph .fourth{
         display: block;
         padding-top: 1rem;
         padding-bottom: .1rem;
     }
      .sec2lists{
         padding: 1rem;
         font-size: 1.9rem;
         font-weight: 500;
         list-style: none;
         line-height: 1.5;
     }
     .row-heading{
         font-size: 3rem;
     }
     .sec4__div1__secondcol__div3{
         padding: 2rem;
         min-height: 20vh;
         display: unset;
     }
     .sec4__div1__secondcol__div3--paragraph{
         padding-left: 1rem;
         max-width: fit-content;
         font-size: 1.9rem;
         font-weight: 500;
         line-height: 1.5;
     }
     .sec4__div1__secondcol__div3--paragraph span{
         font-weight: 750;
         padding-top: 2rem;
         font-size: 2rem;
     }
     .sec4__div1__secondcol__div3--picture{
         width: 10rem;
         height: 10rem;
         float: left;
         margin-right: 2rem;
         -webkit-shape-outside: circle(50% at 50% 50%);
         shape-outside: circle(50% at 50% 50%);
         -webkit-clip-path: circle(50% at 50% 50%);
         clip-path: circle(50% at 50% 50%);
         transition: translateX(-3rem);
         position: relative;
     }
     .sec4__div2__header{
        font-size: 3rem;
     }
     .sec4__div3__pic1{
        width: 24%;
     }
     .sec4__div3__pic2{
        width: 24%;
     }
     .sec4__div3__pic3{
        width: 24%;
     }
     .sec4__div3__pic4{
        width: 24%;
     }
     .sec5__div1__div1--body{
        display: unset;
     }
     .sec5__div1__subdiv1{
        display: none;
     }
     .sec5__div1__subdiv2 p{
         padding: 1.4rem;
         font-size: 1.9rem;
         font-weight: 500;
         line-height: 1.5;
     }
     .sec5__div1__div1{
        grid-template-columns: .5fr .5fr ;
        grid-template-rows:  repeat(3, min-content);
        row-gap: 1rem;
        padding: 1rem;
    }
     .sec5__div1__div1__footer{
        padding: 1rem;
        grid-area: 3 / 1 / -1 / -1;
     }
     .sec5__div1__div2__subdiv3{
         padding: 2rem;
         display: unset;
     }
     .sec5__div1__div2__subdiv3 span{
         font-weight: 750;
         padding-top: 2rem;
         font-size: 2rem;
     }
     .sec5__div1__div2__subdiv3 p {
         padding-left: 1.7rem;
         max-width: 70vw;
         font-size: 1.9rem;
         font-weight: 500;
         line-height: 1.5;
     }
     .thirddiv__picture{
        width: 10rem;
        height: 10rem;
        float: left;
        margin-right: 2rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transition: translateX(-3rem);
        position: relative;
     }
     .sec6__div{
         padding: 1.5rem;
         max-width: 89vw;
     }
     .sec6 h4{
         font-size: 3rem;
         font-weight: 790;
     }
     .sec6 ul li{
         padding: 1rem;
         font-size: 1.9rem;
         font-weight: 500;
         line-height: 1.5;
     }
     .divthree{
         padding: 2rem;
         display: unset;
     }
     .divthree__picture{
        width: 10rem;
        height: 10rem;
        float: left;
        margin-right: 2rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transition: translateX(-3rem);
        position: relative;
     }
     .divthree p{
         max-width: 70vw;
         font-size: 1.9rem;
     }
     .divthree span{
         font-weight: 750;
         font-size: 2rem;
         padding-top: 2rem;
     }
     .thirddiv{
         padding: 1.5rem;
         display: unset;
         min-height: 51vh;
     }
     .thirddiv p{
         max-width: 70vw;
         font-size: 1.9rem;
     }
     .thirddiv span{
        font-weight: 750;
        font-size: 2rem;
        padding-top: 2rem;
     }
     table{
         padding-bottom: 2rem;
     }
     th, td{
         padding: 1rem;
         font-size: 1.9rem;
         font-weight: 520;
     }
     tbody tr:nth-child(odd){
         background-color: #EDEFF7;
     }
     .header{
         font-size: 3rem;
         font-weight: 790;
     }
     .sec8 h4{
         padding: 1.6rem;
     }
     .header1{
         font-size: 2.4rem;
         padding-bottom: 1rem;
     }
     .sec8 ul li{
         padding-left: 3.2rem;
         font-size: 1.9rem;
         font-weight: 500;  
     }
     .btn:link, 
     .btn:visited {
        font-weight: 510;
        font-size: 1.8rem;
    }
}