*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
.container{
    font-family: "inter", sans-serif;
    font-weight: 400;
    line-height: 1.0;
    color: black;
    background-color: white;
    padding: 1.5rem;
    margin: 0.1rem auto;
    display: flex;
    flex-direction: column;
    
}
.navigation{ 
    display: flex;
    justify-content: space-between;
    padding: 1.9rem;
    column-gap: 2rem;
    min-height: 14vh;
    margin-top: 0.5rem;
}
.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    min-height: 76vh;
}
.sec2{
    background-color: #1C1232;
    display: grid;
    margin-top: 1rem;
    min-height: 75vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: .5rem;
    border-radius: 2%;
}
.sec3{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: .5rem;
    border-radius: 2%;
    margin-top: 1rem;
    min-height: 80vh;
} 
.sec4{
    margin-top: 1rem;
    min-height: 40vh;
    border-radius: 2%;
}
.sec5{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.sec6{
    padding: 1.5rem;
    min-height: 60vh;
    background-image: linear-gradient(to top, #FFFFFF, #F8F5FF);
    border-radius: 1rem;
}
.sec7{
    padding: 1.5rem;
    min-height: 45vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.2rem;
}
.sec8{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr repeat(2, 1fr) .5fr;
    column-gap: 1rem;
}
.sec2__firstrow__div1{
   padding: 2rem;
   grid-area:  1 / 1 / -1 / 3;
}
.sec2__firstrow__div2 {
    object-fit: contain;
    grid-area:  1 / 3 / -1 / -1;
}
.sec3__firstrow__div1{
    grid-area:  1 / 1 / -1 / 3;
    background-image: url('img/landingpg1.png');
    background-size: contain;
    border-radius: 3rem;
}
.sec3__firstrow__div2{
    grid-area:  1 / 3 / -1 / -1;
    padding: 2rem;
    background-color: #FAFAFA;
    border-radius: 2rem;
}
.sec4__div1{
    grid-area:  1 / 5 / 2 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    background-color: #E6E4FC;
}
.sec4__div2{
    grid-area:  2 / 4 / 3 / 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 1.9rem;
}
.sec4__div3{
    grid-area:  3 / 2 / -1 / 8;
}
.sec5__div1__div1{
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template-columns: .5fr .5fr ;
    grid-template-rows:  .4fr .7fr min-content;
    row-gap: .6rem;
}
.sec5__div1__div2{
    grid-area: 1 / 2 / -1 / -1;
    display: flex;
    flex-direction: column;
}
.sec7__div__div1{
    grid-area: 1 / 1 / -1 / 2;
    display: flex;
    flex-direction: column;
}
.sec7__div__div2{
    grid-area: 1 / 2 / -1 / -1;
    display: flex;
    flex-direction: column;
}
.sec8__div1__div1{
    grid-area: 2 / 1 / 4 / 3;
    border: .1rem solid #B99CFA;
    border-radius: 1rem;
    box-shadow: 0 4rem 17rem -11rem rgba(0, 0, 0, 0.59);
    padding: 1.5rem;
}

.sec8__div1__div2{
    grid-area: 2 / 3 / 4 / -1;
    padding: 1.5rem;
    border: .1rem solid #B99CFA;
    border-radius: 1rem;
    box-shadow: 0 4rem 17rem -11rem rgba(0, 0, 0, 0.59);
}
.sec8__footer{
    grid-area: 4 / 1 / -1 / -1;
    padding: 1.5rem;
}
.fess{
    color: transparent;
    display: inline;
    background-size: cover;
    background-image: url('img/land.png');
    border-radius: 50%;
    margin-right: .5rem;
}
.btn:link, 
.btn:visited {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 4rem;
    transition: all .2s;
    position: relative;
}
.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}
.btn:active{
    transform: translateY(-.1rem);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.btn-blue{
    background-color: #8858F1;
    color: white;

}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .2s;
}
.btn-blue::after{
    background-color: #8858F1;
}
.btn:hover::after{
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}
.btn-animated{
    animation: mvbottom .2s ease-out .75s;
    animation-fill-mode: backwards;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    padding-left: 3rem;
    margin-left: 1rem;
}
.sec1__heading__header{
    font-size: 3.4rem;
    padding-bottom: 3rem;
    line-height: 4rem;
    max-width: 40vw;
    animation-name: fadein;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes fadein{
    0%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}
.sec1__heading__header span{
    display: inline-block;
    background-image: linear-gradient(to right, #8D5CFA, #788CEB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.row--heading2{
    font-size: 2.9rem;
    display: inline-block;
    background-image: linear-gradient(to right, #798BEC, #8965F7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.paragraph{
    color: white;
    font-size: 1.2rem;
    padding: 1.5rem;
}
.paragraph .first{
    display: block;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.paragraph .second{
    display: block;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.paragraph .third{
    display: block;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.paragraph .fourth{
    display: block;
    padding-top: 1rem;
    padding-bottom: .1rem;
}
.sec2__firstrow__div1 .lists{
    padding: 1.8rem;
    color: white;
}
.lists li{
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    list-style-type: circle;
    font-size: 1.2rem;
    list-style-image: linear-gradient(to right, #798BEC, #8965F7);
}
.row-heading{
    font-size: 2.9rem;
    color: transparent;
    background-image: linear-gradient(to right, #8D5CFA, #788CEB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 650;
    padding-bottom: 1rem;
}
.sec3__firstrow__div2 p{
    color: black;
}
.sec3__firstrow__div2 .paragraph__first{
    display: block;
    padding-bottom: 1.7rem;
}
.sec3__firstrow__div2 .paragraph__second{
    display: block;
    padding-bottom: 1.6rem;
}
.sec3__firstrow__div2 .paragraph__third{
    display: block;
    padding-bottom: 1.6rem;
    padding-top: 1.7rem;
}
.sec4__div3 div{
    display: inline;
}
.sec4__div1__secondcol__div1{
    background-color: #E6E4FC;
    border-radius: 10rem;
    color: transparent;
}
.sec4__div2__secondcol__div2{
    background-color: #B4B0F7;
    border-radius: 9rem;
}
.sec4__div3__secondcol__div3{
    border-radius: 2rem;
    background-image: linear-gradient(to top right, #788CEB, #866BF5);
}
.sec4__div3__secondcol__div3 p{
    color: black;
}
.sec5__div1__div1 h4{
    grid-area: 1 / 1 / 2 / -1;
}
.sec5__div1__div1--body{
    grid-area: 2 / 1 / 3 / -1;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sec5__div1__subdiv2 p{
    padding-top: 1.4rem;
    padding-left: 1rem;
    font-size: 1.2rem;
}
.sec5__div1__div1__footer{
    grid-area: 3 / 1 / -1 / -1;
}
.sec5__div1__subdiv2{
    padding-bottom: 1rem;
}
.sec5__div1__subdiv1{
    padding-top: 1rem;
}
.mgphone{
    color: #7F7DF0;
}
.sec5__div1__div2__subdiv1{
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: #E6E4FC;
    transform: scale(3rem);
    color: transparent;
    border-radius: 10rem;
}
.sec5__div1__div2__subdiv2{
   margin-right: 2.3rem;
   margin-left: 2.3rem;
   z-index: 50;
   background-color: #B4B0F7;
   color: transparent;
   transform: translateY(-.7rem);
   border-radius: 6rem;
}
.sec5__div1__div2__subdiv3{
    z-index: 100;
    background-image: linear-gradient(to top right, #788CEB, #866BF5);
    border-radius: 2rem;
    transform: translateY(-1.3rem);
    padding-top: 2rem;
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sec5__div1__div2__subdiv3 div{
    object-fit: cover;
}

.thirddiv__picture{
    background-image: url('img/lndng1.png');
    width: 7rem;
    height: 7rem;
    border: .2rem solid white;
    border-radius: 50%;
}
.sec5__div1__div2__subdiv3 span{
    display: block;
    font-weight: 650;
    padding-top: 1.2rem;
}
.sec5__div1__div2__subdiv3 p {
    max-width: 30vw;
}
.sec6__div{
    padding: 1.5rem;
    max-width: 69vw;
}
.sec6 ul{
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-left: .5rem;
    padding-bottom: 2rem;
}
.sec6 h4{
    font-size: 2rem;
}
.sec6 ul li{
    padding-top: .8rem;
    list-style-type: circle;
    font-size: 1.2rem;
    padding-left: 1rem;
    list-style-image: linear-gradient(to right, #798BEC, #8965F7);
}
.divone{
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: #E6E4FC;
    transform: scale(3rem);
    color: transparent;
    border-radius: 10rem;
}
.divtwo{
    margin-right: 2.3rem;
   margin-left: 2.3rem;
   z-index: 50;
   background-color: #B4B0F7;
   color: transparent;
   transform: translateY(-1.2rem);
   border-radius: 6rem;
}
.divthree{
    z-index: 100;
    background-image: linear-gradient(to top right, #788CEB, #866BF5);
    border-radius: 2rem;
    transform: translateY(-2.2rem);
    padding-top: 2rem;
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 30vh;
}
.divthree__picture{
    background-image: url('img/lndng1.png');
    width: 7rem;
    height: 7rem;
    border: .2rem solid white;
    border-radius: 50%;
}
.divthree p{
    padding-left: 1rem;
    max-width: 33vw;
}
.divthree span{
    display: block;
    font-weight: 650;
    padding-top: 1.2rem;
}
.firstdiv{
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: #E6E4FC;
    transform: scale(3rem);
    color: transparent;
    border-radius: 10rem;
}
.seconddiv{
    margin-right: 2.3rem;
   margin-left: 2.3rem;
   z-index: 50;
   background-color: #B4B0F7;
   color: transparent;
   transform: translateY(-1.2rem);
   border-radius: 6rem;
}
.thirddiv{
    z-index: 100;
    background-image: linear-gradient(to top right, #788CEB, #866BF5);
    border-radius: 2rem;
    transform: translateY(-2.2rem);
    padding-top: 2rem;
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 30vh;
}
.thirddiv p{
    padding-left: 1rem;
    max-width: 33vw;
}
.thirddiv span{
    display: block;
    font-weight: 650;
    padding-top: 1.2rem;
}
.section__header{
    grid-area: 1 / 1 / 2 / -1;
}
table{
    padding-top: 2rem;
    padding-bottom: 1rem;
    table-layout: fixed;
}
th, td{
    padding: 1rem;
}
tbody tr:nth-child(odd){
    background-color: #EDEFF7;
}
.header{
    font-size: 2rem;
}
.sec8__div1__div2 h4{
    padding-bottom: 1.2rem;
}
.sec8__div1__div1 h4{
    padding-bottom: 1.2rem;
}
.sec8__div1__div2--body__divun{
    padding-left: 1rem;
    background-color: #EDEFF7;
}
.sec8__div1__div1__secondheader{
    padding-left: 1rem;
    background-color: #EDEFF7;
}
.header1{
    font-size: 1.4rem;
    padding-bottom: 1rem;
}
.sec8 ul{
    padding-bottom: 1.2rem;
}
.sec8 ul li{
    padding: .7rem;
}
/*
.trow-c1{
    background-image: url('img/landingpg1.png');
}
.trow-c2{
    overflow-x: hidden;
    padding: 2.9rem;
    background-color: #FAFAFA;
    border-radius: 3rem;
}
.sec4-div3{
    border-radius: 2rem;
    background-image: linear-gradient(to top right, #788CEB, #866BF5);
    color: white;
}
.sec7-shape{
    background-image: url('img/ldng2.png');
    width: 6.7rem;
    height: 6.7rem;
}
.abuo{
    overflow-x: hidden;
    padding-bottom: 2rem;
    background-color: white;
    box-shadow: 0 4rem 17rem -11rem rgba(0, 0, 0, 0.59);
}
.sec7-shape2{
    background-color: #2C2C2C;
    width: 6.7rem;
    height: 6.7rem;
    text-align: center;
    font-size: 2.5rem;
    float: left;
    background-size: contain;
    border-radius: 50%;
    transform: translateX(-.5rem);
    border: .2rem solid white;
}
/* FADING DESIGN FOR DIV MBU  *//*
@media (max-width: 60rem){
    body{
        font-size: 55%;
        padding: 0;
        font-weight: 600;
    }
    .header {
        font-size: 55%;
        width: 100vw;
        padding: 0;
        margin-right: 0;
        font-weight: 600;
    }
    .header_links .btn{
        margin-right: 1rem;
    }
    a{
        font-size: .3rem;
        font-weight: 600;
        padding-right: .1rem;
        padding-left: .3rem;
      }
      .ls{
          font-size: .8rem;
      }
      .heading1{
        font-size: 1.5rem;
        font-weight: 750;
        max-width: 19rem;
        padding-bottom: 1.3rem;
        padding-top: .3rem;
    }
    .sec2{
        padding-top: .7rem;
        padding-bottom: .7rem;
        margin-top: .2rem;
        margin-left: .9rem;
        margin-right: .9rem;
        font-weight: 500;
    }
    .secondrow{
        margin-bottom: 1rem;
        padding-left: .7rem;
        padding-right: .7rem;
        padding-bottom: 1rem;
        padding-top: .8rem;
        background-color: #1C1232;
    } 
    .sec2-d1{
        float: none;
        width: 100%;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-left: .5rem;
        padding-bottom: 1.3rem;
        font-size: .9rem;
    }
    .sec2-d2{
        padding-right: 1rem; 
        background-size: cover;
        background-position: bottom;
        border-radius: 2rem;
        padding-left: 1rem;
        height: 20rem;
    }
    .imgtest-d1{
        width: 25%;
        float: left;
        margin-right: 5rem;
    }
    .para{
        padding-top: 1rem;
        padding-bottom: .3rem;
    }
    .para span{
        padding-top: .7rem;
        padding-bottom: .6rem;
    }
    ul li{
        padding-top: .9rem;
    }
    .imgtest-d2{
        width: 25%;
        margin-right: 5rem;
    }
    .imgtest-d3{
        margin-right: 1rem;
        width: 25%;
    }
    .secondrow{
        max-width: 100%;
    }
    .thirdrow{
        max-width: 100%;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .trow-c1{
        float: none;
        width: 100%;
        margin-right: 0;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 0;
        padding-right: 0;
        height: 25rem;
    }
    .abuo{
        padding-bottom: 2.9rem;
    }
    .sec7-d6 p{
        margin-left: 6.5rem;
    }
    .sec7-d6{
        padding-top: 2rem; 
        padding-left: .9rem;
        padding-right: .9rem;
        font-size: .8rem;
        height: auto;
        border-radius: 3rem;
    }
    .last-row{
        max-width: 100%;
        padding-left: .7rem;
        padding-right: .6rem;
        padding-bottom: 2.5rem;
        padding-top: .3rem;
    }
    .first-col{
        width: 100%;
        margin-right: 0;
        float: none;
        padding-left: .5rem;
        padding-bottom: 1.8rem;
        padding-right: .2rem;
        padding-top: 1rem;
        overflow-x: scroll;
    }
    .second-col{
        padding-left: .5rem;
        width: 100%;
        padding-right: 1rem;
        margin-right: .5rem;
        border-radius: 1rem;
        margin-top: 2.5rem;
    }
    table{
        padding-top: 1.8rem;
    }
    th, td{
        padding: .3rem;
    }
}
@media (max-width: 28rem){
    body{
        font-size: 55%;
    }
    .header {
        font-size: .6rem;
        font-weight: 400;
    }
    .header_links .btn{
        margin-right: .5rem;
    }
    .btn:link, 
    .btn:visited {
        font-size: .7rem;
        padding: .8rem 1.6rem;
    }
    a{
        font-size: .3rem;
        font-weight: 600;
        padding-right: .1rem;
        padding-left: .3rem;
    }
    .ls{
          font-size: .5rem;
    }
    .heading1{
        font-size: 1.3rem;
        max-width: 15rem;
        padding-bottom: 1.5rem;
        padding-top: 1.4rem;
    }
    .sec2{
        padding-top: .7rem;
        padding-bottom: .7rem;
    }
    .secondrow{
        margin-bottom: .6rem;
    } 
    .sec2-d1 h2{
        font-size: 1.6rem;
    }
    .sec2-d1{
        padding-right: .7rem;
        padding-left: .7rem;
        padding-bottom: 1rem;
        font-size: .8rem;
    }
    .sec2-d2{
        background-position: bottom;
        padding-left: .5rem;
        height: 20rem;
    }
    .sec4-shape{
        width: 4.4rem;
        height: 4.4rem;
    }
    .imgtest-d1{
        margin-right: 3.5rem;
    }
    .imgtest-d2{
        margin-right: 4.3rem;
    }
    .imgtest-d3{
        margin-right: 3rem;
    }
    .trow-c2 h3{
        font-size: 1.6rem;
    }
    .trow-c2 p{
        font-size: .8rem;
    }
    .sec4-div3 p{
        font-size: .8rem;
    }
    .para{
        padding-top: 1rem;
        padding-bottom: .5rem;
    }
    .sec4-div3{
        padding-left: .5rem;
        padding-right: .1rem;
        padding-top: .8rem;
    }
    .sec4-div3 p{
        margin-left: 5.1rem;
    }
    .thirdrow{
        max-width: 100%;
        padding-top: 1rem;
    }
    .trow-c1{
        height: 20rem;
        background-size: cover;
        background-position: bottom;
    }
    .two p{
        font-size: .8rem;
        padding-top: .9rem;
        padding-bottom: 0;
        transform: translateY(-3.6rem);
    }
    .sec5-di3 p{
        font-size: .8rem;
        margin-left: 5.6rem;
        transform: translateY(-4.5rem);
    }
    .sec5-di3{
        padding-right: 1.5rem;
        padding-bottom: 0;
    }
    .sec4-shape2{
        width: 4.5rem;
        height: 4.5rem;
    }
    .row-sec5{
        padding: .2rem;
    }
    .col-4-of-2{
        width: 100%;
        float: none;
        font-size: .8rem;
        padding: 1.6rem;
    }
    .col-3-of-2{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-top: 1.5rem;
    }
    .sec4{
        max-width: 110rem;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        }
    .sec5a{
        padding-bottom: 1rem;
    }
    .firstcol{
            width: 100%;
            float: left;
            display: none;
        }
    .secondcol{
            padding-left: 1rem;
            padding-right: 1rem;
        }
    .sec6{
        margin-left: .8rem;
        margin-right: .8rem;
    }
    .sec6-div{
        padding-left: 1.4rem;
        padding-right: 1rem;
    }
    .sec6 ul{
        font-size: .8rem;
        padding-top: 0;
        padding-left: .5rem;
        padding-bottom: 2.1rem;
    }
    .sec6 ul li{
        padding-top: .8rem;
    }
    .downsec-header{
        font-size: 1.7rem;
    }
    .last-header{
        font-size: 2.1rem;
    }
    .lastone{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1.5rem;
    }
    .mbu{
        width: 100%;
        margin-right: 0;
        font-size: 1rem;
        float: none;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-top: 1rem;
    }
    .abuo{
        padding-bottom: 2.9rem;
    }
    .sec7-d3{
        padding-left: .1rem;
        padding-right: .1rem;
    }
    .sec7-d3 p{
        font-size: .8rem;
        margin-left: 6rem;
    }
    .sec7-shape{
        width: 4.5rem;
        height: 4.5rem;
    }
    .sec7-shape2{
        width: 4.5rem;
        height: 4.5rem;
    }
    .fgcap{
        font-size: 1.4rem;
    }
    .sec7-d6 p{
        font-size: .8rem;
        margin-left: 5rem;
    }
    .sec7-d6{
        padding-top: 2rem; 
        padding-left: 1rem;
        padding-right: .9rem;
        font-size: .8rem;
        height: auto;
        border-radius: 3rem;
    }
    .last-header{
        font-size: 1.7rem;
        padding-bottom: 1.5rem;
    }
    .last-row{
        padding-left: .7rem;
    }
    .first-col{
        padding-left: .5rem;
        padding-bottom: 1.4rem;
        padding-right: .5rem;
    }
    .second-col{
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: 1.4rem;
    }
    th, td{
        padding: .3rem;
        font-size: .8rem;
    }
    .ul3{
        font-size: .8rem;
    }
    .ul2{
        font-size: .8rem;
    }
    h6{
        padding-top: 1rem;
    }
}

*/

